@import url(https://db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand+Script);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Snell Roundhand Script';
}
/***/

body{
    background-image: url('../imagens/fundo.avif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width:100vw;
    background-color: #0b0505;
}
/*HEADER*/
#topo{
    color: #d5c8a5;
    text-align: center;
}

.a{
    width: 100%;
    height: 120px;
}
.a li{
    display: inline-block;
}
.a a{
    font-size: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
}
.a a:visited{
    color: aliceblue;
}
.a a:hover{
    background-color: black;
    color: peru;
    border: solid 2px cornflowerblue;
}


#logo{
    
}

/*nav*/
#menu{
    margin: 16px 0px;
    padding: 16px 20px;
    background-image: linear-gradient(to right, #0b0505, rgba(213, 200, 165,0.7));
}

/*main geral*/
main{
    opacity: 70%;
    background-image: radial-gradient(circle, transparent 30%, #d5c8a5 50%, black );
    padding: 30px;
}

/*main destaques*/
.destaques img{
    width: 150px;
    height: 240px;
    display: block;
        
}

.destaques li{
    display: inline-block;
    margin: 25px 50px 75px 25px;
    width: 150px;
    height: auto;
}
.destaques span{
    font-weight: 900;
    font-size: 18px;
}

/*main*/
.sobre{
    color: #d5c8a5;
}
.sobre h1,h2{
    color: #d5c8a5;
}
/*main*/
.produtos{
    
}

/*main*/

.contato{
  opacity: 100%;
  align-content: center;
  display: flex;
  width: 100%;
  height: 750px;
  background-image: url('../imagens/pergaminho.png');
  background-repeat: no-repeat; 
  background-position: center;

}

.contato form{
  font-weight: 900;
  font-size: 18px;
  padding: 10px;
  width: 300px;
  height: 400px;
  margin: auto;
}

#recomecar{
    background-image: url('../imagens/recomeçar.png');
    background-repeat: no-repeat; 
    background-size: contain;
    display: inline-block;
    margin-right: 20px;
    float: right;
    width: 80px;
    height: 80px;
}
.bottom input{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}
#enviar{
    background-image: url('../imagens/selosenviar.png');
    background-repeat: no-repeat; 
    background-size: contain;
    padding-right: 10px;
    float: right;
    width: 100px;
    height: 80px;
}

.c, #assunto{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
  }

input:focus {
    border: none;

  }
  
#mensagem{
    background-color: transparent;
}


/*footer*/
#rodape {
  bottom:0;
  opacity: 50%;
  background-color: #0b0505;
  color: aliceblue;
}



