*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('../imagens/arvori.avif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    background-color: #0b0505;
}
/*HEADER*/
#topo{
    color: red;
    text-align: center;
}

nav a{
    text-decoration: none;
}
nav a:visited{
    color: aliceblue;
}
nav a:hover{
    background-color: black;
    color: peru;
    border: solid 2px cornflowerblue;
}
nav a:active{
    background-color: black;
    color: peru;
    border: solid 2px red;
}

#logo{
    
}

/*nav*/
#menu{
    background-color: green;
    margin: 16px 0px;
    padding: 16px 20px;
}

main{
    opacity: 70%;
    margin: 16px 0px;
    padding: 32px;
    background-image: radial-gradient(circle, transparent 30%, #d5c8a5 50%, black );
}

/*main*/
.destaques {
    
}

/*main*/
.sobre{
    color: aliceblue;
}
.sobre h1,h2{
    color: red;
}
/*main*/
.produtos{
    
}

/*main*/
.contato{
    
}

/*footer*/
#rodape {
   
}

.livros img{
    width: 150px;
    height: 240px;
}

